.hidden {
  display: none;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .text {
    left: 13vw;
  }

  .search-home input {
    width: 280px;
    height: 50px;
  }

  .search-button {
    width: 50px;
    height: 50px;
  }

  .search-result {
    flex-direction: column;
    display: block;
  }

  .one-third-column {
    width: 100%;
    height: 350px;
  }

  .two-third-column {
    width: 100%;
    height: 450px;
  }

  .location-hours {
    flex-direction: column;
    padding: 10px 0 10px 0;
  }

  .half-column {
    width: 100%;
  }

  .logo {
    font-size: 7vw;
  }

  .favorites,
  .number-rating {
    font-size: 3.5vw;
  }

  .text label {
    font-size: 5.25vw;
  }

  .text,
  .fa-search,
  .store-info p {
    font-size: 4.5vw;
  }

  input::placeholder,
  .store_title p {
    font-size: 3.5vw;
  }

  .favorite-header h2 {
    padding: 16px 20px;
    font-size: 4.5vw;
  }

  .photo-container {
    overflow: auto;
    justify-content: start;
  }

  .photo-box {
    flex-wrap: nowrap;
    padding-left: 0;
  }

  .store-info h1 {
    font-size: 6.5vw;
  }

  .store-header {
    padding-top: 45px;
  }

  .fa-heart {
    margin-top: 22px;
    margin-right: 10px;
  }

  .review {
    padding-left: 0;
  }
}
