#map {
  height: 100%;
}

.row {
  margin: 15px 0;
}

a {
  display: block;
}

a,
button,
.fa-heart {
  cursor: pointer;
}

body {
  font-family: 'Varela Round', sans-serif;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.logo {
  margin: 20px;
  font-size: 2vw;
  font-weight: 900;
  color: #000;
}

.favorites {
  margin: 30px 20px;
  font-size: 1vw;
  color: #000;
}

.image {
  background: url("https://images.pexels.com/photos/6412830/pexels-photo-6412830.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260") no-repeat center;
  background-size: cover;
  height: 700px;
}

.text label {
  font-size: 1.5vw;
}

.search-home {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 40%;
  text-align: center;
}

.text {
  position: absolute;
  left: 38.2vw;
  top: 35%;
  color: #fff;
  font-size: 1.3vw;
}

input {
  width: 430px;
  height: 45px;
  border: none;
  border-radius: 5px 0 0 5px;
  padding-left: 10px;
}

input::placeholder {
  color: #adb5bd;
  font-size: 0.8vw;
}

input:focus {
  outline: none;
}

.search-button {
  width: 100px;
  height: 45px;
  border: none;
  background-color: #ff9e00;
  border-radius: 0 5px 5px 0;
  vertical-align: top;
}

.fa-search {
  font-size: 1.3vw;
  color: #fff;
}

.fas-star {
  color: #000;
}

.search-bar {
  display: flex;
  justify-content: center;
}

.search-bar button {
  width: 100px;
  height: 45px;
  border: none;
  background-color: black;
  border-radius: 0 5px 5px 0;
  vertical-align: top;
  box-shadow: 1px 1px 10px 5px #e9ecef;
}

.search-bar input {
  width: 500px;
  height: 45px;
  border: none;
  border-radius: 5px 0 0 5px;
  box-shadow: 1px 1px 10px 5px #e9ecef;
}

.search-result {
  height: 650px;
  display: flex;
  flex-direction: row-reverse;
  margin-top: 50px;
}

.one-third-column {
  width: calc(100% / 3);
  border: 1px solid #d0d0d0;
  border-right: none;
}

.location-hours {
  display: flex;
  justify-content: center;
  border-top: 1px solid #d0d0d0;
  padding: 20px 60px 20px 70px;
}

.location-hours p {
  margin: 0;
}

.opening-hours h3,
.address-phone h3,
.review h3 {
  font-weight: bold;
  margin-left: 20px;
}

.opening-hours p,
.address-phone p,
.review p {
  margin-left: 30px;
  margin-right: 30px;
  font-weight: normal;
}

.comment h4,
.comment p,
.comment h5 {
  margin: 8px 0;
}

.store-info p {
  font-weight: 800;
  font-size: 1vw;
  margin: 10px 0;
}

#lists li p {
  color: #777;
}

.star-rating {
  margin-right: 10px;
}

.fa-star,
.fa-star-half-alt {
  color: #ff9e00;
}

.number-rating,
.rating {
  color: #f00;
  font-weight: 900;
  font-size: 1vw;
}

.two-third-column {
  width: 66%;
  border: 1px solid #d0d0d0;
  border-left: none;
}

div.one-third-column {
  overflow: auto;
}

.review {
  padding-left: 70px;
}

#review-lists {
  padding-left: 0;
}

#review-lists li {
  display: flex;
  margin: 30px;
}

#lists li {
  height: 130px;
  border-bottom: 1px solid #d0d0d0;
  margin-left: 10px;
  margin-right: 10px;
}

.rating-box {
  margin-top: -20px;
}

#favorite-list {
  margin-top: -5px;
}

#favorite-list li {
  border-bottom: 1px solid #d0d0d0;
  padding: 15px 30px 25px 30px;
}

#favorite-list li:last-child {
  border-bottom: none;
}

#favorite-list i.fa-heart {
  margin: 20px 30px 0 0;
}

#favorite-list .review {
  border-top: 1px solid #d0d0d0;
  justify-content: center;
}

#favorite-list .rating-box {
  margin-top: -12px;
}

.more-info h2 {
  text-align: center;
}

#lists {
  margin: 0;
  padding: 0;
}

.favorite-header h2 {
  padding: 12px 20px;
  font-size: 1.3vw;
  font-weight: 800;
}

#lists li h2 {
  margin: 0;
}

#lists li:last-child {
  border-bottom: none;
}

#lists li:hover {
  background-color: rgba(255, 237, 188, 0.2);
}

.store-header {
  padding: 30px;
  border-bottom: 1px solid #d0d0d0;
  height: 150px;
}

.store-info {
  display: flex;
  justify-content: space-between;
}

i.far {
  color: #d0d0d0;
}

i.far:hover {
  color: #ff9e00;
}

.fa-heart {
  margin: 38px 30px 0 0;
  display: flex;
  color: #ff9e00;
}

.half-column {
  width: calc(100% / 2);
}

.photo-container {
  display: flex;
  justify-content: center;
}

.photo-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#photos img {
  width: 200px;
  height: 200px;
  margin: 5px;
  object-fit: cover;
}

.comment {
  margin-left: 35px;
}

.comment h5 {
  margin-top: 10px;
  font-weight: normal;
}

.comment h4 {
  font-weight: bold;
}

#review-lists img {
  width: 60px;
  height: 60px;
}

.favorite-header {
  margin-top: 50px;
  height: 60px;
  background-color: rgba(253, 183, 31, 0.411);
}
