#map {
  height: 750px;
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.row {
  max-width: 1650px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}

.center {
  max-width: 1250px;
  margin: 0 auto;
}

a {
  display: block;
}

a,
button,
.fa-heart {
  cursor: pointer;
}

.wrapper nav {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 10px 6px -6px rgb(240, 240, 240);
}

.logo {
  margin: 30px 20px;
  color: #000;
}

.favorites {
  margin: 32px;
  color: #000;
}

.favorites:hover {
  color: #fcb440;
}

.home > div {
  padding: 10px;
}

.home > div:first-child {
  align-self: flex-end;
  margin: 20px 10px;
}

.home img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.search-container {
  padding: 10px;
  margin: 10px 0;
}

.text {
  padding-left: 10px;
  font-size: 18px;
}

input {
  height: 45px;
  border: 1px solid #ccc;
  border-right: none;
  border-radius: 5px 0 0 5px;
  padding-left: 10px;
}

input::placeholder {
  color: #adb5bd;
}

input:focus {
  outline: none;
}

.search-icon {
  color: #fff;
}

.fas-star {
  color: #000;
}

.search-bar {
  max-width: 600px;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.search-bar button {
  border: none;
  background-color: black;
  border-radius: 0 5px 5px 0;
  vertical-align: top;
  box-shadow: 1px 1px 10px 5px #e9ecef;
}

.search-bar input {
  border: none;
  border-radius: 5px 0 0 5px;
  box-shadow: 1px 1px 10px 5px #e9ecef;
}

.location-hours {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 1px solid #d0d0d0;
  padding: 20px 60px 20px 70px;
}

.location-hours p {
  margin: 0;
}

.opening-hours h3,
.address-phone h3,
.review h3 {
  font-weight: bold;
}

.opening-hours p,
.address-phone p,
.review p {
  padding: 5px;
}

.comment h4,
.comment p,
.comment h5 {
  margin: 8px 0;
}

.store-info p {
  font-weight: 800;
  margin: 10px 0;
}

#lists li p {
  color: #777;
}

.star-rating {
  margin-right: 10px;
}

.fa-star,
.fa-star-half-alt {
  color: #ff9e00;
}

.number-rating,
.rating {
  color: #f00;
  font-weight: 900;
}

#review-lists {
  padding-left: 0;
}

#review-lists li {
  display: flex;
  margin: 30px;
}

#lists li {
  height: 130px;
  border-bottom: 1px solid #d0d0d0;
  margin-left: 10px;
  margin-right: 10px;
}

.rating-box {
  margin-top: -20px;
}

#favorite-list {
  margin-top: -5px;
}

#favorite-list li {
  border-bottom: 1px solid #d0d0d0;
  padding: 15px 30px 25px 30px;
}

#favorite-list li:last-child {
  border-bottom: none;
}

#favorite-list .review {
  border-top: 1px solid #d0d0d0;
  justify-content: center;
}

#favorite-list .rating-box {
  margin-top: -12px;
}

#favorite-list .store_title {
  font-size: 20px;
}

.more-info h2 {
  text-align: center;
}

#lists {
  height: 750px;
  overflow: auto;
  margin: 0;
  padding: 0;
}

.favorite-header h2 {
  padding: 12px 20px;
  font-weight: 800;
}

#lists li h2 {
  margin: 0;
}

#lists li:last-child {
  border-bottom: none;
}

#lists li:hover {
  background-color: rgba(255, 237, 188, 0.2);
}

.store-header {
  padding: 30px;
  border-bottom: 1px solid #d0d0d0;
  height: 150px;
}

.store-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

i.far {
  color: #d0d0d0;
}

i.far:hover {
  color: #ff9e00;
}

.fa-heart {
  margin: 38px 30px 0 0;
  display: flex;
  color: #ff9e00;
}

.photo-container {
  overflow: auto;
}

.photo-box {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

#photos img {
  width: 200px;
  height: 200px;
  margin: 5px;
  object-fit: cover;
}

.comment {
  margin-left: 35px;
}

.comment h5 {
  margin-top: 10px;
  font-weight: normal;
}

.comment h4 {
  font-weight: bold;
}

#review-lists img {
  width: 60px;
  height: 60px;
}

.favorite-header {
  display: flex;
  align-items: center;
  height: 60px;
  background-color: rgba(253, 183, 31, 0.411);
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  width: 100%;
  height: 40px;
  background-color: #fcb440;
  font-size: 10px;
  color: #fff;
}
